
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:wght@400;700&family=Lobster&family=Pacifico&family=Qwitcher+Grypen:wght@700&family=Rubik:wght@400;500;700&family=Space+Grotesk&display=swap');


nav{
    background-color: #000;
    color: #FFF;
    position: sticky;

}
.accueilHead{
    width: 1400px;
    height: 90px;
    background-color: #0000;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.accueilHead i{
    visibility: hidden;
}
.accueilHead h1{
    font-family: 'Black Ops One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 30px;
}

.headerP{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.headerP p{
    margin: 0 20px;
    font-size: 1.3rem;
    font-family: 'Black Ops One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    
}
.headerBtn{
    margin-top: 25px;
}
.headerBtn button{
    width: 150px;
    margin: 0 10px;
    height: 45px;
    border: 1px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    font-size: 1rem;
    background: none;
}
.headerBtn button:hover{
    color: #000;
    background-color: #FFF;
    font-size: 1.2rem;
}
.Accueilmenu{
    width: 100%;
    background-color: #000;
    height: 100vh;
    background: url(../images/fond.png);
    background-size: cover;

}
.AccueilmenuTest{
    width: 40%;
}
.AccueilmenuTest h1{
    margin: 22rem 10rem 0;
}
.commencer{
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
}
.cardCommencerImage1{
    display: flex;
    justify-content: space-between;
}
.cardCommencerImage1 img{
    height: 24rem;
    width: 40%;
    border: 1px solid #000;
    border-radius: 10px;
}
.cardCommencerImage1 .commencerTexte{
    margin-top: 4rem;
    width: 40%;
}
.cardCommencerImage1 button{
    width: 20vw;
    height: 5vh;
    margin-top: 2rem;
    background: none;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 1.5rem;
}
.cardCommencerImage2{
    margin-top: 7rem;
}
.accueilApropos{
    padding: 7rem 0;
    background-color: #D9D9D9;
    text-align: center;
}
.accueilApropos h1{
    font-size: 2.5rem;
}
.accueilApropos p{
    margin-top: 1.2rem;
    font-size: 1.5rem;
    line-height: 1.4;
}
.AccueilBlog h1{
    text-align: center;
    font-size: 2.5rem;
}
.AccueilBlog{
    padding: 3rem 0;
}
.blog{
    margin: 3rem auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.blogCard{
    width: 49%;
    padding: 1rem;
    border: 2px solid #000;
    display: flex;
    border-radius: 10px;
}
.blogCard div{
    width: 40%;
    padding: 2rem 1rem;
}
.blogCard div p{
    margin-top: 1rem;
}
.blogCard img{
    width: 40%;
    height: 20vh;
}
.NousContacter{
    text-align: center;
    padding-bottom: 2rem;
}
.NousContacter h1{
    font-size: 2.5rem;
}