.body{
    background-color: #000;
    color: #FFF;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.registre{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inscrire{
    width: 700px;
    padding-top: 2rem;
    margin: 0 auto;
}
.inpt{
    width: 100%;
    color: #FFF;
    padding: 2rem;
}
.inpt input{
    color: #FFF;
    width: 100%;
    padding: 0.7rem;
    height: 60px;
    margin: 1.3rem 0;
    background: none;
    border-radius: 4px;
    border: 1.5px solid #FFF;
}
.inpt input[type="date"]{
    color: #FFF;
}
.inpt input::placeholder{
    color: #ffffff77;
    font-size: 1.1rem;
}
.entete{
    text-align: center;
}
.entete a{
    color: #FFF;
    text-decoration: none;
}
.entete a h1{
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.inpt label{
    font-size: 1.3rem

}
.inpt button{
    width: 100%;
    height: 65px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #FFF;
    font-size: 1.2rem;
}
.inpt button:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #000;
}
.inpt p{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}
.texte{
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.inpt .liens{
    color: #FFF;
    text-decoration: none;
}