@media (max-width: 1414px) {
    .accueilHead{
        width: 100%;
    }
}
@media (max-width: 954px) {
    .headerP p{
        margin: .2rem;
        font-size: 1.1rem;
    }
    .headerBtn button {
        height: 30px;
        width: 100px;
        font-size: .8rem;
    }
    .accueilHead h1{
        font-size: 1.3rem;
    }
    
}
@media (max-width: 620px) {
    .accueilHead h1{
        font-size: 1.1rem;
    }
    .headerP p {
       font-size: .8rem;
    }
    .headerBtn button {
        margin: 0 0.2rem;
        height: 30px;
        width: 70px;
        font-size: .5rem;
        height: 25px;
        flex-wrap: wrap;
    }
}
@media (max-width: 440px){
    .accueilHead i{
        visibility: visible;
        float: right;
    }
    .headerBtn{
        visibility: hidden;
    }
    .headerP {
        visibility: hidden;
    }
    .accueilHead{
        display: block;
        padding: 2rem;
    }
    .accueilHead h1{
        margin-top: 0;
    }
}